#input{
    padding: 5px;
    width: 25%;
}
.cardx{
    width: 50%;
    padding:10px;
    margin-left: 28%;
    margin-right: 40%;
    border: 1px solid gray;
    margin-bottom: 30px;
    margin-top: 15px;
}
.cardx:hover{
    box-shadow: 0 0 11px gray;
}
.imgclass{
    width: 48%;
}

.btn1{
    color: rgb(12,34,203);
    border: 1px solid rgb(12,34,203);
    margin-right: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.btn2{
    color: rgb(12,34,203);
    border: 1px solid rgb(12,34,203);
    margin-right: 10px;
    padding: 5px 20px;
    box-sizing: border-box;
}
.btn1:hover{
    box-shadow: 0 0 9px rgb(12,34,203);
}
.head{
    margin: 0px 0px 0px 375px;
}
